@import './utils/variables';
@import './utils/visually-hidden';
@import './utils/mixin';

@import './base/common';
@import './base/container';

@import './components/logo';

@import './layout/header';

@import './components/button';
@import './components/social-list';

@import './layout/hero';
@import './layout/dignity';
@import './layout/profile';
@import './layout/team';
@import './layout/clients';
@import './layout/footer';
@import './layout/page-portfolio';

@import './components/backdrop';
@import './components/modal-windows';
@import './components/modal-form';
