/* ========== CLIENTS ========== */

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__title {
  margin-bottom: 50px;

  font-style: normal;
  @include font(36px, 700, 1.17);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.clients__list {
  display: flex;
  justify-content: space-between;
}

.clients__link {
  fill: var(--icon-color);
  display: flex;
  align-items: center;
  justify-content: center;

  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid #2196f3;
    border-radius: 4px;
    fill: var(--accent-color);
  }
}

/* ========== END CLIENTS ========== */
