/* ========== FOOTER ========== */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-footer-hero);
}
.footer__contact-data {
  display: flex;
  align-items: baseline;
}

.contact-info__address {
  margin-top: 20px;
  margin-right: 70px;
}

.contact-info__item {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

// .contact-info__item:not(:last-child) {
//   margin-bottom: 9px;
// }

.contact-info__address-link {
  font-style: normal;
  @include font(14px, 400, 1.71);
  letter-spacing: 0.03em;
  color: #ffffff;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: rgba(255, 255, 255, 0.6);
  }
}

.contact-info__link {
  display: inline-block;

  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  @include font(14px, 400, 1.71);
  letter-spacing: 0.03em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: #ffffff;
  }
}

/* Подписка на рассылку */
.footer__newsletter {
  margin-left: 93px;
}
.footer__newsletter-text {
  font-style: normal;
  @include font(14px, 700, 1.14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}
.footer__form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.footer__form-input {
  width: 358px;
  height: 50px;
  background-color: var(--background-footer-hero);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--white-color);
  outline: none;
  margin-top: 20px;
  padding-left: 16px;
}

/* ========== END FOOTER ========== */
