/* ========== HEADER ========== */

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* навигация сайта */
.nav {
  display: flex;
  align-items: center;
}
.nav-menu {
  display: flex;
  align-items: center;
}

.menu-item {
  position: relative;

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.menu-link {
  padding-top: 32px;
  padding-bottom: 22px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &.current {
    color: var(--accent-color);
  }
}

.current.studio-underline::after {
  position: absolute;
  bottom: -33px;

  display: block;
  content: '';
  width: 48px;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.current.portfolio-underline::after {
  position: absolute;
  bottom: -33px;

  display: block;
  content: '';
  width: 78px;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

/* контакты */
.contact {
  display: flex;
  align-items: center;
}

.contact-item:not(:last-child) {
  margin-right: 50px;
}

.contact-mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}
.contact-tel-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.contact-mail,
.contact-tel {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
