/* ========== PROFILE (чем мы занимаемся) ========== */
.profile {
  padding-top: 47px;
  padding-bottom: 94px;
}

.profile__titel {
  margin-bottom: 50px;

  color: var(--title-text-color);
  @include font(36px, 700, 1.17);
  text-align: center;
  letter-spacing: 0.03em;
}

.profile__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile__item {
  position: relative;
}
.profile__label {
  position: absolute;
  left: 0;
  bottom: 0;

  font-style: normal;
  @include font(14px, 700, 1.14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  padding-top: 27px;
}

/* ========== END PROFILE (чем мы занимаемся) ========== */
