/* ========== BUTTON ========== */

.button {
  @include font(16px, 700, 1.87);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: var(--white-color);
  background-color: var(--accent-color);
  font-style: normal;
  text-align: center;
  letter-spacing: 0.06em;
}

.main__button {
  padding: 10px 32px;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

// button - подписаться в footer
.footer__form-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 50px;
  margin-left: 12px;
}
.footer__icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

// button - page portfolio
.portfolio__filter-btn {
  @include font(16px, 500, 1.62);
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  color: var(--title-text-color);
  background-color: var(--background-button-secondary);
  letter-spacing: 0.03em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  &.current {
    color: var(--white-color);
    background-color: var(--accent-color);
  }
}

/* ========== END BUTTON ========== */
