/* Logo */
.logo {
  margin-right: 93px;

  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo span {
  color: var(--accent-color);
}
