/* Modal form */
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-head {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);

  margin-bottom: 12px;
}
.modal-form-field {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primery-text-color);
}
.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.modal-form-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-form-input:focus + &,
  .modal-form-input:hover + & {
    fill: var(--accent-color);
  }
}

.modal-form-message {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
  &::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-form-checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);

  &::before {
    display: block;
    content: '';
    width: 16px;
    height: 15px;
    border: 1px solid #212121;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 7px;
  }
}
.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-image: url(../imeges/icon-check.svg);
  width: 16px;
  height: 15px;
  border: 1px solid #2196f3;
  border-radius: 2px;
  background-position: center;
}
.modal-form-checkbox:focus + .modal-form-checkbox-label::before {
  border-color: var(--accent-color);
  border-radius: 2px;
}

.modal-form-label-link {
  color: var(--accent-color);

  &:focus {
    outline: 1px solid #2196f3;
  }
}

.modal-form-button {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  margin-top: 30px;
  /* background-color: transparent; */
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);

  cursor: pointer;

  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: 1px solid #2196f3;
  }
}
