.social-list {
  display: flex;
  justify-content: space-between;
}
.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--white-color);
    background-color: var(--accent-color);
  }
}

.social-list-icon {
  width: 20px;
  height: 20px;
}
.social-light {
  fill: var(--icon-color);
  background-color: #ffffff;
}
.social-dark {
  fill: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
}
