:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --background-button-secondary: #f5f4fa;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --background-footer-hero: #2f303a;
  --icon-color: #afb1b8;
}
